* {
  margin: 0;
  padding: 0;
  font-family: lato;
}

.Header {
  width: 100%;
  height: 15vh;
  background-color: rgb(83, 83, 83);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 150px;
  height: 50px;
  padding-left: 3rem;
}
.divheader {
  display: flex;
  align-items: center;
  width: 40%;
  height: 30vh;
  position: absolute;
  gap: 2rem;
}

.headerinput {
  width: 100%;
  height: 3vh;
  text-align: center;

  font-size: 22px;
  display: flex;
}
.headerbtn {
  width: 15%;
  height: 5vh;
  border-radius: 5px;

  color: rgb(14, 14, 14);
  font-weight: bold;
  border: none;
}
.bs {
  font-size: 2rem;
  padding-left: 2rem;
}
.buy {
  display: flex;
  width: 40%;
  height: 5vh;

  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding-left: 4rem;
}
.allcategories {
  width: 20%;
  height: 340vh;

  background-color: rgb(194, 184, 184);
  padding: 1rem;
}
.categories {
  display: flex;
  align-items: center;

  width: 80%;
  height: 5vh;
  border: 1px solid rgb(245, 245, 245);

  font-size: 14px;
  justify-content: center;
  text-align: justify;
  padding: 1rem;
  margin: 1rem;
}

.allresults {
  width: 100%;
  height: 10vh;
  padding-left: 20rem;
  margin-top: 18rem;
}

.searchresults {
  width: 100%;
  height: 10vh;
  border: 1px solid rgb(201, 201, 201);
  padding: 5rem;
  margin: 2rem;
}

.results {
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
}
.btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.buybtn {
  width: 15%;
  height: 5vh;
  border-radius: 5px;

  color: rgb(14, 14, 14);
  font-weight: bold;
  border: none;
}

.clicks {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}
.changepage {
  width: 15%;
  height: 5vh;
  border-radius: 5px;

  color: rgb(14, 14, 14);
  font-weight: bold;
  border: none;
}
